<h2>Incomplete Tasks</h2>

<%= form_tag complete_tasks_path, method: :put do  %>
  <ul>
    <% @incomplete_tasks.each do |task| %>
    <li>
      <%= check_box_tag "task_ids[]", task.id %>
      <%= task.name %>
    </li>
    <% end %>
  </ul>
  <%= submit_tag "Complete task" %>
<% end %>



<h2>Complete Tasks</h2>

<ul>
  <% @complete_tasks.each do |task| %>
  <li>
    <%= task.name %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Task', new_task_path %>
